<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="/css/homestyle.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>   
</head>
<body>
    <h1 class = "h1-heading"><%= message %></h1>
    <main>
        <form action="/create-log" method="post" class="frame-1">
            <div class="first-layer">
                <label for="description-box">Description</label>
                <input type="text" name="description" id="description-box">
            </div>
            <div class="second-layer">
                <div>
                    <label for="category-drop-down">Category</label>
                    <select name="category" id="category-drop-down">
                        <option value="Personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="Family">Family</option>
                        <option value="Leisure">Leisure</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div>
                    <label for="duedate">Due date</label>
                <input type="date" name="duedate" id="due-date">
                </div>                
            </div>
            <div class="third-layer">
                <input id="add-button" type="submit" value="add-task">
                <a href="/delete-element"></a>
            </div>        
        </form>
        <div class="center">
            <ul class="vertical-list">
                <form class="lower-form" method="GET" action="/delete-todo/">
                    <% for(let i of Logs) {%>
                        <li>
                            <!--To many name with 'id' will result into array at the server-->
                            
                            <input type="checkbox" class="delete-check" name="id" value="<%=i._id%>" id="<%= i.id %>">
                            <p class="list-box"><%= i.name %></p>
                            <p class="list-box"><%= i.date %> </p>
                            <p class="list-box"id="worktype"><%= i.worktype %> </p>
                        </li> 
                    <% } %>
                    <input id="delete-button" type="submit" value="Delete-TODO"/>
                </form>
            </ul>
        </div>

    </main> 
    <script src="javascript/index.js"></script>
</body>
</html>